{% extends 'layout.html' %}

{% block head %}
  {{ head|raw }}
{% endblock %}

{% block content %}

<div class="pure-g examples">
  <div class="pure-u-1-2">
    <p><a href="https://nodei.co/npm/express.png">https://nodei.co/npm/express.png</a></p>
    <a href="https://nodei.co/npm/express/"><img src="/npm/express.png"></a>
  </div>

  <div class="pure-u-1-2">
    <p><a href="https://nodei.co/npm/level.png?downloadRank=true">https://nodei.co/npm/level.png?downloadRank=true</a></p>
    <a href="https://nodei.co/npm/level/"><img src="/npm/level.png?downloadRank=true"></a>
  </div>

  <div class="pure-u-1-2">
    <p><a href="https://nodei.co/npm/peerflix.png?downloads=true">https://nodei.co/npm/peerflix.png?downloads=true</a></p>
    <a href="https://nodei.co/npm/peerflix/"><img src="/npm/peerflix.png?downloads=true"></a>
  </div>

  <div class="pure-u-1-2">
    <p><a href="https://nodei.co/npm/after.png?downloads=true&downloadRank=true&stars=true">https://nodei.co/npm/after.png?downloads=true&downloadRank=true&stars=true</a></p>
    <a href="https://nodei.co/npm/after/"><img src="/npm/after.png?downloads=true&downloadRank=true&stars=true"></a>
  </div>
</div>

<p>Embed with: <textarea class="copyable pure-u-2-5" readonly>&lt;a href="https://nodei.co/npm/&lt;package&gt;/"&gt;&lt;img src="https://nodei.co/npm/&lt;package&gt;.png"&gt;&lt;/a&gt;</textarea></p>

<p>Or in Markdown: <textarea class="copyable pure-u-2-5" readonly>[![NPM](https://nodei.co/npm/&lt;package&gt;.png)](https://nodei.co/npm/&lt;package&gt;/)</textarea></p>

{% include "./makemeone.html" %}

<h2>Chrome Extension</h2>

<p>Some people just don't <i>get it</i> and won't have NodeICO badges on their GitHub READMEs. You can fix this on your end by installing the <a href="https://chrome.google.com/webstore/detail/nodeico-npm-badges-for-gi/gjfoekeijnfcemfgihckkhhoiehljdmd">NodeICO Chrome Extension for GitHub</a> and have them placed on READMEs for Node.js projects that don't have them when you're browsing.</p>


<div style="margin: 1em auto; text-align: center;">
  <img src="nodeico-chrome-screenshot.png" style="height: 246px; width: 400px; box-shadow: 4px 4px 10px;">
</div>

<h2>Badge Styles</h2>

<h3>Compact</h3>

<p>Some people don't really appreciate too much bling, so here's <code>compact=true</code>:</p>

<p><a href="https://nodei.co/npm/through2.png?compact=true">https://nodei.co/npm/through2.png?compact=true</a></p>
<a href="https://nodei.co/npm/through2/"><img src="/npm/through2.png?compact=true"></a>

<h3>Mini</h3>

<p><i>Really</i> don't like clutter but don't want to be left out? Try <code>mini=true</code>:</p>

<p><a href="https://nodei.co/npm/ender.png?mini=true">https://nodei.co/npm/ender.png?mini=true</a></p>
<a href="https://nodei.co/npm/ender/"><img src="/npm/ender.png?mini=true"></a>

<h3>Download counts</h3>

<p>Add <code>downloads=true</code> to the image URL query string:</p>

<p><a href="https://nodei.co/npm/moment.png?downloads=true">https://nodei.co/npm/moment.png?downloads=true</a></p>
<a href="https://nodei.co/npm/moment/"><img src="/npm/moment.png?downloads=true"></a>

<h3>Download rankings</h3>

<p>Add <code>downloadRank=true</code> to the image URL query string:</p>

<p><a href="https://nodei.co/npm/bole.png?downloadRank=true">https://nodei.co/npm/bole.png?downloadRank=true</a></p>
<a href="https://nodei.co/npm/bole/"><img src="/npm/bole.png?downloadRank=true"></a>

<p>Download rankings are calculated each day by comparing total download counts across a period of 30 days.</p>

<h3>Star counts</h3>

<p>Add <code>stars=true</code> to the image URL query string:</p>

<p><a href="https://nodei.co/npm/ecstatic.png?stars=true">https://nodei.co/npm/ecstatic.png?stars=true</a></p>
<a href="https://nodei.co/npm/ecstatic/"><img src="/npm/ecstatic.png?stars=true"></a>

<h3>Or downloads, rank and stars:</h3>

<p><a href="https://nodei.co/npm/async.png?downloads=true&downloadRank=true&stars=true">https://nodei.co/npm/async.png?downloads=true&downloadRank=true&amp;stars=true</a></p>
<a href="https://nodei.co/npm/async/"><img src="/npm/async.png?downloads=true&downloadRank=true&stars=true"></a>

<h2>Download histogram badges</h2>

<p>So, we have the download data per-day so why not do something interesting with it?</p>

<p>Embed with: <b><code>&lt;a href="https://nodei.co/npm/&lt;package&gt;/"&gt;&lt;img src="https://nodei.co/npm-dl/&lt;package&gt;.png"&gt;&lt;/a&gt;</code></b></p>

<p>Or in Markdown: <b><code>[![NPM](https://nodei.co/npm-dl/&lt;package&gt;.png)](https://nodei.co/npm/&lt;package&gt;/)
</code></b></p>

<p><a href="https://nodei.co/npm-dl/xtend.png">https://nodei.co/npm-dl/xtend.png</a></p>
<a href="https://nodei.co/npm/xtend/"><img src="/npm-dl/xtend.png"></a>

<p>By adding <code>months=X</code> to the query string where <code>X</code> is a number between 1 and 12, you can change the range:</p>

<p><a href="https://nodei.co/npm-dl/xtend.png?months=9">https://nodei.co/npm-dl/xtend.png?months=9</a></p>
<a href="https://nodei.co/npm/xtend/"><img src="/npm-dl/xtend.png?months=9"></a>

<p><a href="https://nodei.co/npm-dl/xtend.png?months=6">https://nodei.co/npm-dl/xtend.png?months=6</a></p>
<a href="https://nodei.co/npm/xtend/"><img src="/npm-dl/xtend.png?months=6"></a>

<p><a href="https://nodei.co/npm-dl/xtend.png?months=3">https://nodei.co/npm-dl/xtend.png?months=3</a></p>
<a href="https://nodei.co/npm/xtend/"><img src="/npm-dl/xtend.png?months=3"></a>

<p><a href="https://nodei.co/npm-dl/xtend.png?months=1">https://nodei.co/npm-dl/xtend.png?months=1</a></p>
<a href="https://nodei.co/npm/xtend/"><img src="/npm-dl/xtend.png?months=1"></a>

<p>Download histogram badges also have three possible heights to match the general badges:</p>

<div style="width: 360px; float: left; text-align: center;">
  <p><a href="https://nodei.co/npm-dl/nan.png?months=3&height=1">https://nodei.co/npm-dl/nan.png?months=3&height=1</a></p>
  <a href="https://nodei.co/npm/nan/"><img src="/npm-dl/nan.png?months=3&height=1" style="margin-top: 12px;"></a>
</div>

<div style="width: 360px; float: left; text-align: center;">
  <p><a href="https://nodei.co/npm-dl/nan.png?months=3&height=2">https://nodei.co/npm-dl/nan.png?months=3&height=2</a></p>
  <a href="https://nodei.co/npm/nan/"><img src="/npm-dl/nan.png?months=3&height=2" style="margin-top: 6px;"></a>
</div>

<div style="width: 360px; float: left; text-align: center;">
  <p><a href="https://nodei.co/npm-dl/nan.png?months=3&height=3">https://nodei.co/npm-dl/nan.png?months=3&height=3</a></p>
  <a href="https://nodei.co/npm/nan/"><img src="/npm-dl/nan.png?months=3&height=3"></a>
</div>

<div style="clear: both;"></div>


{% endblock %}
