<!DOCTYPE HTML>
<html lang="en-us">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>nodei.co</title>
    <script type="text/javascript" src="//use.typekit.net/kre3vgn.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" href="/pure-0.6.0-nr-min.css" type="text/css">
    <link rel="stylesheet" href="/style.css" type="text/css">
  </head>
  <body>

    <div id="layout" class="pure-g">
      <div id="main" class="pure-u">
        <div class="header pure-u-1">
          <div id="nodesource">
            <p>Proudly supported by </p> 
            <a href="https://nodesource.com/"><img src="nodesource_logo.png"></a> 
          </div>
          <h1 class="pure-u-1">
            NodeICO
          </h1>
          <h2>
            classy node.js badges, that's all
          </h2>
        </div>

        <div class="content">
          {% block content %}{% endblock %}
        </div>

        <div class="footer">
          <p><b>npm is a trademark of npm, Inc., NodeICO is not affiliated with npm, Inc. or the official npm open source project in any way.</b></p>
          <p>Troll me <a href="https://twitter.com/rvagg">@rvagg</a> if you have anything to say about NodeICO</p>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="/js/script.js"></script>
  </body>
</html>