<!DOCTYPE HTML>
<html lang="en-us">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>nodei.co</title>
    <script type="text/javascript" src="//use.typekit.net/kre3vgn.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" href="/pure-0.2.0-nr-min.css" type="text/css">
    <link rel="stylesheet" href="/style.css" type="text/css">
  </head>
  <body>

    <div id="layout" class="pure-g">
      <div id="main" class="pure-u">
        <div class="header pure-u-1">
          <h1 class="pure-u-1">
            NodeICO
          </h1>
          <h2>
            classy node.js badges, that's all
          </h2>
        </div>

        <div class="content">
          {% block content %}{% endblock %}
        </div>

        <div class="footer">
          Troll me <a href="https://twitter.com/rvagg">@rvagg</a> if you have anything to say about NodeICO
        </div>
      </div>
    </div>

    <a href="https://github.com/rvagg/nodei.co"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>

    <script type="text/javascript" src="/js/script.js" async></script>
  </body>
</html>