<div id="makemeone">
  <h3>Shut up and make me one NOW!</h3>
  <form class="pure-form pure-form-aligned">
    <input name="packageName" type="text" placeholder="package name" class="pure-input-1-4">
  </form>

  <div class="package-not-found" style="display: none;">
    <p><strong>Package not found: <span class="package-name"></span></strong></p>
  </div>

  <div class="package-not-valid" style="display: none;">
    <p><strong>Invalid package name: <span class="package-name"></span></strong></p>
  </div>

  <div class="badges" style="display: none;">
    <div class="badge plain pure-g">
      <div class="img pure-u-1-2"></div>
      <div class="code pure-u-1-2"></div>
    </div>
    <div class="badge downloads pure-g">
      <div class="img pure-u-1-2"></div>
      <div class="code pure-u-1-2"></div>
    </div>
    <div class="badge downloads-stars pure-g">
      <div class="img pure-u-1-2"></div>
      <div class="code pure-u-1-2"></div>
    </div>
    <div class="badge compact pure-g">
      <div class="img pure-u-1-2"></div>
      <div class="code pure-u-1-2"></div>
    </div>
    <div class="badge mini pure-g">
      <div class="img pure-u-1-2"></div>
      <div class="code pure-u-1-2"></div>
    </div>
    <div class="badge dl pure-g">
      <div class="pure-g">
        <div class="pure-u-1-12">
          <strong>Months:</strong>
        </div>
        <div class="pure-u-1-24">
          <label for="dl-months-12">
            <input type="radio" name="dl-months" id="dl-months-12" value="12" checked>
            12
          </label>
        </div>
        <div class="pure-u-1-24">
          <label for="dl-months-9">
            <input type="radio" name="dl-months" id="dl-months-9" value="9" class="pure-radio">
            9
          </label>
        </div>
        <div class="pure-u-1-24">
          <label for="dl-months-6">
            <input type="radio" name="dl-months" id="dl-months-6" value="6" class="pure-radio">
            6
          </label>
        </div>
        <div class="pure-u-1-24">
          <label for="dl-months-3">
            <input type="radio" name="dl-months" id="dl-months-3" value="3" class="pure-radio">
            3
          </label>
        </div>
        <div class="pure-u-1-24">
          <label for="dl-months-1">
            <input type="radio" name="dl-months" id="dl-months-1" value="1" class="pure-radio">
            1
          </label>
        </div>
      </div>
      <div class="img pure-u-1-2"></div>
      <div class="code pure-u-1-2"></div>
    </div>
  </div>

</div>