global
	log /dev/log	local0
	log /dev/log	local1 notice
	chroot /var/lib/haproxy
        stats socket /run/haproxy/admin.sock mode 660 level admin
        stats timeout 30s
	user haproxy
	group haproxy
	daemon

defaults
	log	global
	mode	http
	option	httplog
	option	dontlognull
        timeout connect 50000
        timeout client  50000
        timeout server  50000
	errorfile 400 /etc/haproxy/errors/400.http
	errorfile 403 /etc/haproxy/errors/403.http
	errorfile 408 /etc/haproxy/errors/408.http
	errorfile 500 /etc/haproxy/errors/500.http
	errorfile 502 /etc/haproxy/errors/502.http
	errorfile 503 /etc/haproxy/errors/503.http
	errorfile 504 /etc/haproxy/errors/504.http

frontend https
  bind :443 ssl crt /etc/nodeico.pem npn http/1.1 ciphers ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:ECDHE-RSA-RC4-SHA:ECDHE-ECDSA-RC4-SHA:AES128:AES256:RC4-SHA:HIGH:!aNULL:!eNULL:!EXPORT:!DES:!3DES:!MD5:!PSK
  option httplog
  default_backend nodeico
  acl url_npm_dl_api path_beg /api/npm-dl/
  use_backend npm_dl_api if url_npm_dl_api
  acl url_pkginfo_api path_beg /api/npm/
  use_backend pkginfo_api if url_pkginfo_api

frontend http *:80
  option httplog
  redirect scheme https if { hdr(Host) -i nodei.co }
  use_backend reportico if { hdr(Host) -i reporti.co }

backend npm_dl_api
  reqrep ^([^\ :]*)\ /api/npm-dl/(.*)  \1\ /\2
  server npm_dl_api 127.0.0.1:8002

backend pkginfo_api
  reqrep ^([^\ :]*)\ /api/npm/(.*)  \1\ /\2
  server pkginfo_api 127.0.0.1:8003

backend nodeico
  balance roundrobin
  option httpchk GET /_status
  http-check expect string OK
  server nodeico 127.0.0.1:8000 check inter 1000 downinter 4000
  server nodeico 127.0.0.1:8001 check inter 1000 downinter 4000

backend reportico
  server nodeico 127.0.0.1:9000

